<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= context == 'received' ? 'From' : 'To' %></th>
      <th>Subject</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'list_message', :collection => @messages, :locals => {:context => context} %>
  </tbody>
</table>
