<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>To</th>
      <th>Subject</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Some</td>
      <td>One</td>
      <td>English</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Joe</td>
      <td>Sixpack</td>
      <td>English</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Stu</td>
      <td>Dent</td>
      <td>Code</td>
    </tr>
    <tr>
      <td colspan="4">
        span 4 columns
      </td>
    </tr>
    <tr>
      <td colspan="2">
        span 2 columns
      </td>
      <td colspan="2">
        span 2 columns
      </td>
    </tr>
  </tbody>
</table>
