<div class="hero-unit">
  <h1>Send some fucking messages</h1>
  <p>
    Occaecat dolore shank, sint turkey bresaola drumstick proident tenderloin.
    Pancetta shoulder chuck rump laborum, exercitation filet mignon sirloin in
    nostrud jowl ball tip consequat jerky. Culpa jowl drumstick ex in hamburger.
    Drumstick pork belly ball tip, in cupidatat sed ham hock non aute quis shankle.
    Sed in flank officia irure, nisi sint est. Magna in pork aute. Magna brisket
    beef ribs fatback, consequat short ribs ground round.
  </p>
  <p><%= link_to "Sign up now »", new_user_path, :class => "btn primary large" %></p>
</div>